:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --grey-color: rgba(255, 255, 255, 0, 6);
  --bg-color: #2f303a;
  --secondary-bg-color: #f5f4fa;
  --font-family: Roboto, sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.page-header__logo {
  margin-right: 93px;
  color: black;
}

.accent-logo {
  color: var(--accent-color);
}

.navigation {
  display: flex;
  align-items: center;
}

.site-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    align-items: center;
  }
}

.site-nav a,
.auth-nav a {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 1200px) {
  .site-nav a,
  .auth-nav a {
    font-size: 14px;
    line-height: 1.14;
  }
}

.site-nav a {
  color: var(--title-text-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav a:hover, .site-nav a:focus {
  color: var(--accent-color);
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
}

.site-nav__link--current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  display: block;
  background-color: #2196f3;
  border-radius: 2px;
  height: 4px;
  width: 100%;
}

.auth-nav a {
  color: var(--primary-text-color);
}

.auth-nav__icon {
  margin-right: 8px;
  fill: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav__link:hover .auth-nav__icon,
.auth-nav__link:focus .auth-nav__icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .auth-nav__icon {
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .icon_mail {
    width: 14px;
    height: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .icon_mail {
    width: 16px;
    height: 12px;
  }
}

@media screen and (min-width: 768px) {
  .icon_phone {
    width: 10px;
    height: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .icon_phone {
    height: 16px;
  }
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__item--current a {
  color: var(--accent-color);
}

.auth-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .auth-nav {
    display: flex;
    flex-flow: column wrap;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav {
    flex-flow: row;
  }
}

.navigation-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .navigation-link {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation-link {
    display: inline-block;
    margin-right: 50px;
    margin-bottom: 0;
  }
}

.auth-nav__link {
  color: #212121;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav__link:hover, .auth-nav__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .auth-nav__link {
    font-size: 14px;
    line-height: 1.14;
  }
}

.mob-menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: white;
  padding-top: 48px;
  padding-right: 15px;
  padding-left: 40px;
  padding-bottom: 48px;
}

.mob-menu-list__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  padding: 0;
  margin-bottom: 32px;
}

.mob-menu-list__item:last-child {
  margin-bottom: 302px;
}

.mob-nav__link {
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-nav__link:hover, .mob-nav__link:focus {
  color: var(--accent-color);
}

.menu-close {
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  position: absolute;
  right: 15px;
  top: 10px;
  padding: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close:hover, .menu-close:focus {
  fill: var(--accent-color);
  cursor: pointer;
}

.mob-auth-list {
  margin-bottom: 64px;
}

.mob-auth-list__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
}

.mob-auth-list__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

.mob-auth-list__item {
  margin-bottom: 32px;
}

.mob-social-list__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mob-social-list {
  display: flex;
  align-items: center;
}

.line {
  border-left: 1px solid rgba(33, 33, 33, 0.2);
  height: 22px;
  margin-left: 10px;
  margin-right: 10px;
}

.mob-menu.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.menu-open {
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.mob-nav__link--current {
  color: var(--accent-color);
}

.hero {
  text-align: center;
  background-color: var(--bg-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/hero_mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-width: 320px;
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/hero_mob_x2.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/hero_tab.jpg);
  }
}

@media screen and (min-width: 768px) and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/hero_tab_x2.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/hero.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/hero_x2.jpg);
  }
}

.title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--white-color);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-size: 26px;
  line-height: 1.62;
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.button {
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  min-width: 200px;
  color: var(--white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: #188ce8;
}

.thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
  width: 450px;
  height: 120px;
}

@media screen and (min-width: 768px) {
  .thumb {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .thumb {
    width: 270px;
  }
}

.icon {
  width: 65px;
  height: 70px;
}

.advantage-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .advantage-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.advantage-list-title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .advantage-list-title {
    text-align: left;
  }
}

.advantage-list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.advantage-list {
  margin-top: -30px;
}

@media screen and (min-width: 768px) {
  .advantage-list {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc(100% / 2-30px);
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .advantage-list {
    flex-basis: calc(100% / 4-30px);
    margin-top: 0;
  }
}

.advantage-list-wrap {
  width: 450px;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .advantage-list-wrap {
    width: 354px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .advantage-list-wrap {
    width: 270px;
    margin-top: 0;
  }
}

.work,
.team {
  margin-bottom: 30px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .work,
  .team {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.work-list {
  display: flex;
}

.work-list__photo {
  position: relative;
}

.work-list__photo:not(:last-child) {
  margin-right: 30px;
}

.work-list__thumb {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  justify-content: center;
  align-items: center;
}

.work-list__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.work-section {
  display: none;
}

@media screen and (min-width: 1200px) {
  .work-section {
    display: flex;
    padding-bottom: 94px;
  }
}

.team-section {
  background: var(--secondary-bg-color);
  width: 100vw;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .team-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-list__title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc(100% / 2-30px);
    margin-left: -30px;
    margin-top: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    flex-basis: calc(100% / 4-30px);
    margin-top: 0;
  }
}

.team-list__wrap {
  width: 450px;
  background: var(--white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .team-list__wrap {
    width: 354px;
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list__wrap {
    width: 270px;
    margin-top: 0px;
  }
}

.team-name {
  padding-top: 30px;
  padding-bottom: 24px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .team-name {
    padding-bottom: 30px;
  }
}

.team-position {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.master-social {
  display: flex;
  justify-content: center;
}

.social-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.master-social__item {
  padding-left: 0;
  display: flex;
  justify-content: center;
  width: 44px;
  height: 44px;
}

.master-social__item:not(:last-child) {
  margin-right: 10px;
}

@media screen and (min-width: 1200px) {
  .master-social__item {
    width: 44px;
  }
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 50%;
  background-color: var(--white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  background-color: var(--accent-color);
}

.master-social__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover .master-social__icon,
.social-link:focus .master-social__icon {
  fill: var(--white-color);
}

.clients-section {
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .clients-section {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.partner-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partner-item:hover, .partner-item:focus {
  border: 1px solid var(--accent-color);
}

@media screen and (min-width: 768px) {
  .partner-item {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .partner-item {
    width: 170px;
  }
}

.partner {
  margin-left: 30px;
  margin-top: 30px;
}

.partner-logo {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partner-item:hover .partner-logo,
.partner-item:focus .partner-logo {
  fill: var(--accent-color);
}

.clients {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .clients {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.partner-list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc(100% / 2-30px);
  margin-left: -30px;
  margin-top: -30px;
}

@media screen and (min-width: 768px) {
  .partner-list {
    flex-basis: calc(100% / 3-30px);
  }
}

.footer-container {
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    align-items: baseline;
    position: relative;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--bg-color);
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.address-container {
  text-align: center;
  margin-right: 0;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .address-container {
    margin-bottom: 0;
    margin-right: 70px;
  }
}

.address,
.address__list a {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__map {
  display: block;
  margin-bottom: 8px;
  color: var(--white-color);
}

@media screen and (min-width: 1200px) {
  .address__map {
    margin-bottom: 9px;
  }
}

.address__list a {
  color: var(--grey-color);
  text-decoration: none;
}

.address a:hover, .address a:focus {
  color: var(--white-color);
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  color: var(--white-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .footer__logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.address__mail {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .address__mail {
    margin-bottom: 9px;
  }
}

.social-footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer__link:hover, .social-footer__link:focus {
  background-color: var(--accent-color);
}

.social-footer__icon {
  fill: var(--white-color);
}

.social-footer {
  display: flex;
  align-content: center;
  justify-content: center;
  padding-left: 0;
  margin: 0 auto;
}

.social-footer-container {
  margin-right: 0;
  margin-bottom: 60px;
}

@media screen and (min-width: 798px) {
  .social-footer-container {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .social-footer-container {
    margin-bottom: 0;
    margin-right: 93px;
  }
}

.social-footer__item {
  padding-left: 0;
  display: flex;
  justify-content: center;
  width: 44px;
  height: 44px;
}

.social-footer__item:not(:last-child) {
  margin-right: 10px;
}

@media screen and (min-width: 1200px) {
  .mail-form {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .mail-form {
    display: flex;
  }
}

.mail-container {
  margin: 0 auto;
}

.mail-form__input {
  padding-left: 16px;
  margin-right: 0;
  margin-bottom: 20px;
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  font-weight: 400px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mail-form__input::placeholder {
  font-weight: 400px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
  .mail-form__input {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.button-mail {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 4px;
  border: none;
  padding: 10px 29px;
  min-width: 200px;
  height: 50px;
  color: var(--white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-icon {
  margin-left: 10px;
}

.work-examples-section {
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .work-examples-section {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.work-nav__button {
  padding: 6px 12px 6px 12px;
  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 15px;
}

.work-nav__button:hover, .work-nav__button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .work-nav__button {
    margin-bottom: 0;
  }
}

.work-nav__wrap:not(:last-child) {
  margin-right: 8px;
}

.work-examples__link {
  display: flex;
  direction: column;
  height: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-examples__link:hover, .work-examples__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-examples__card {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  width: 450px;
  height: 404px;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .work-examples__card {
    width: 354px;
    height: 440px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .work-examples__card {
    width: 370px;
    height: 404px;
  }
}

.work-examples__overlay {
  position: relative;
  overflow: hidden;
}

.examples-text {
  font-weight: 400px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.portfolio-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 63px 24px 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(115%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-examples__card:hover .portfolio-text,
.work-examples__card:focus .portfolio-text {
  transform: translateY(0);
}

.work-examples {
  margin-top: -30px;
}

@media screen and (min-width: 768px) {
  .work-examples {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc(100% / 2-30px);
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .work-examples {
    flex-basis: calc(100% / 3-30px);
  }
}

.work-examples__item {
  padding: 20px 24px 20px 24px;
  border: none;
  border-top: 0;
  flex-grow: 1;
}

.work-examples__title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work-examples__form {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.work-link {
  text-decoration: none;
}

.work-nav {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .work-nav {
    justify-content: center;
  }
}

.backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  transition: opacity 250ms, visibility 250ms;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  min-height: 609px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.button-open {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-open:hover, .button-open:focus {
  fill: var(--accent-color);
  cursor: pointer;
}

.backdrop .form-info {
  padding: 40px;
}

.info {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

@media screen and (min-width: 1200px) {
  .info {
    line-height: 1.15;
  }
}

.form-info__field {
  display: block;
  position: relative;
}

.form-info__input {
  margin-top: 4px;
  margin-bottom: 10px;
  padding-left: 35px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-info__input:focus {
  border-color: #2196f3;
  cursor: pointer;
  outline: none;
}

.form-info__icon {
  fill: #000;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-info__input:focus + .form-info__icon {
  fill: var(--accent-color);
}

.comment-area {
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-area::placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment-area:focus {
  border-color: #2196f3;
  cursor: pointer;
  outline: none;
}

.form-comment {
  display: block;
}

.icon-check {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
}

.checkbox:checked + .icon-check {
  background-color: var(--accent-color);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-color);
}

.checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .checkbox-label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox-link {
  color: var(--accent-color);
  margin-left: 5px;
}

.modal-form-icon {
  fill: #ffffff;
}

.send-button {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
/*# sourceMappingURL=main.css.map */