.backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  transition: opacity 250ms, visibility 250ms;
  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  min-height: 609px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  @media screen and (min-width: 1200px) {
    min-width: 528px;
    min-height: 581px;
  }
}
.button-open {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--accent-color);
    cursor: pointer;
  }
}

.backdrop {
  .form-info {
    padding: 40px;
  }
}

.info {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  @media screen and (min-width: 1200px) {
    line-height: 1.15;
  }
}

.form-info__field {
  display: block;
  position: relative;
}

.form-info__input {
  margin-top: 4px;
  margin-bottom: 10px;
  padding-left: 35px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: #2196f3;
    cursor: pointer;
    outline: none;
  }
}

.form-info__icon {
  fill: #000;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .form-info__input:focus + & {
    fill: var(--accent-color);
  }
}

.comment-area {
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px 12px 16px;
  width: 100%;
  height: 120px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &::placeholder {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  &:focus {
    border-color: #2196f3;
    cursor: pointer;
    outline: none;
  }
}

.form-comment {
  display: block;
}

.icon-check {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  .checkbox:checked + & {
    background-color: var(--accent-color);
    background-size: contain;
    background-origin: border-box;
    border-color: var(--accent-color);
  }
}

.checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox-link {
  color: var(--accent-color);
  margin-left: 5px;
}

.modal-form-icon {
  fill: #ffffff;
}

.send-button {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
